/* Gallery pages */

body.gallery {
    font-family: sans-serif;
}

.gallery header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: Beige;
    padding: 0;
    text-align: center;
    height: 66px;
    box-shadow: 0 0 10px DarkGray;
    border-bottom: 1px solid BlanchedAlmond;
}

.gallery header h1 {
    text-align: center;
    display: block;
    font-weight: normal;
    margin: 3px 0 0 0;
    padding: 3px;
    font-size: 24px;
    color: #545569;
    vertical-align: top;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gallery header ul {
    text-align: center;
    display: block;
    font-size: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gallery header ul li {
    display: inline-block;
    text-align: left;
    margin-right: 10px;
}

.gallery header li.icon.albums:before {
    display: inline-block;
    width: 14px;
    height: 15px;
    content: ' ';
    background: url('icons.svg') 0px 1px no-repeat;
    background-size: 42px;
    margin-right: 1px;
}

.gallery header li.icon.feed:before {
    display: inline-block;
    width: 14px;
    height: 15px;
    content: ' ';
    background: url('icons.svg') -14px 2px no-repeat;
    background-size: 42px;
    margin-right: 1px;
}

.gallery header li.icon.home:before {
    display: inline-block;
    width: 14px;
    height: 15px;
    content: ' ';
    background: url('icons.svg') -28px 2px no-repeat;
    background-size: 42px;
    margin-right: 1px;
}

#gallery {
    margin: 80px auto 0 auto;
    padding: 0;
    text-align: center;
    max-width: 1300px;
}

#gallery li {
    position: relative;
    display: inline-block;
    list-style-type: none;
}

#gallery li h2 {
    position: absolute;
    box-sizing: border-box;
    text-align: left;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 300px;
    padding: 0 0 0 20px;
    color: white;
    font-size: 22px;
    font-weight: normal;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    pointer-events: none;
}

.gallery a {
    text-decoration: none;
    color: #44f;
}

#gallery img {
    margin: 10px;
    border: 0;
    box-shadow: 0px 0px 10px gray;
    background-color: gray;
}

#gallery img {
    box-shadow: 0px 0px 20px gray;
}

#gallery li:hover {
    transform: scale(1.02);
}

.gallery nav {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: red;
    max-width: 100%;
    width: 100px;
    margin-bottom: 60px;
}

/* Single image pages */

html.single {
    font-family: sans-serif;
    overflow-y: scroll;
}

html.single,
body.single {
    height: 100%;
    margin: 0;
}

.single nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: red;
    max-width: 100%;
    width: 300px;
}

.single #title {
    margin: 10px auto 5px auto;
}

.single time {
    font-size: 80%;
    color: #777;
    font-style: italic;
}

.single ul#meta {
    margin: 4px auto;
    padding: 0;
    color: #444;
}

.single #meta li {
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
    font-style: italic;
}

.single #meta li:after {
    content: '—';
}

.single #meta li:last-child:after {
    content: '';
}

.single #info {
    max-width: 600px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 10px 10px;
}

.single article {
    display: block;
    height: 100%;
    margin: 56px auto 0 auto;
    text-align: center;
}

.single #photo {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 85%;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0px 0px 10px gray;
    background-color: gray;
}

.single #full {
    outline: 0;
}

.single #title {
    margin-top: 14px;
}

/* Navigation buttons */

nav .next {
    position: absolute;
    top: 10px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid #77f;
    filter: drop-shadow(0 0 6px #777);
}

nav .prev {
    position: absolute;
    top: 10px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid #77f;
    filter: drop-shadow(0 0 6px #777);
}

nav .home {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #77f;
    filter: drop-shadow(0 0 6px #777);
}

nav a {
    display: block;
    text-decoration: none;
}

a.nav[href="#"] {
    visibility: hidden;
}
